<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.SEND_SMS"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_chat"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_chat_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ChatNow"
        tools:targetApi="31">

        <activity
            android:name=".Perfil.PerfilVisitado"
            android:exported="false" />
        <activity
            android:name=".Chat.MensajesActivity"
            android:exported="false" />
        <activity
            android:name=".Perfil.EditarImagenPerfil"
            android:exported="false" />
        <activity
            android:name=".Perfil.PerfilActivity"
            android:exported="false" />
        <activity
            android:name=".RegistroActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Inicio"
            android:exported="false" />
        <activity
            android:name=".Olvide_password"
            android:exported="false"/>

        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />

    </application>

</manifest>